.shootingRange {
    height: 800px;
    width: 100%;
    position: relative;
    cursor: none;
    background-color: #eee;
}

.page {
    height: 100%;
    width: 100%;
}

.target {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

ai-dialog {
    display: block;
}

ai-dialog {
    padding: 5px 10 15px 10;
    h2,
    p,
    ai-dialog-footer {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

ux-dialog-container>div>div {
    background-color: white;
}

ai-dialog-overlay.active,
ai-dialog-overlay {
    background-color: black !important;
    opacity: .42 !important;
}

ai-dialog-body {
    .modal-body {
        padding: 25px;
    }
    display: block;
    padding: 0 !important;
}

ai-dialog-container>div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
