.shootingRange {
    height: 800px;
    width: 100%;
    position: relative;
    cursor: none;
    background-color: #eee;
}

.page {
    height: 100%;
    width: 100%;
}

.target {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
